<div class="content">
  <div class="header-section">
    <app-navigation></app-navigation>
  </div>
  <div class="content-section">
    <div class="content-header">Shopping Cart</div>
    <div class="cart-section">
      <div class="products-column">
        <ul>
          <li *ngFor="let item of items$ | async; let i = index" class="tile">
            <img class="cover-image" [src]="item.imgUrl" alt="Item Image" />
            <div class="product-grid">
              <div class="product-name">{{ item.name }}</div>
              <div class="product-quantity">Quantity: {{ item.quantity }}</div>
              <div class="product-price">
                Price: {{ item.price * item.quantity }}
              </div>
            </div>
            <button
              class="increase-button"
              mat-icon-button
              color="warn"
              (click)="addQuantity(item)"
            >
              <mat-icon>add</mat-icon>
            </button>
            <button
              class="decrease-button"
              mat-icon-button
              color="warn"
              (click)="decreaseQuantity(item)"
            >
              <mat-icon>remove</mat-icon>
            </button>
          </li>
        </ul>
      </div>
      <div class="checkout-column">
        <div class="total-price">Total: {{ totalPrice }}</div>
        <div class="checkout-button" (click)="checkoutItems()">Checkout</div>
      </div>
    </div>
  </div>
</div>
