<div class="content">
  <ul>
    <li
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon fontIcon="home"></mat-icon>
      <span class="icon-text">Home</span>
    </li>
    <li routerLink="/shop" routerLinkActive="active">
      <mat-icon fontIcon="shopping_bag"></mat-icon>
      <span class="icon-text">Shop</span>
    </li>
    <li routerLink="/cart" routerLinkActive="active">
      <mat-icon fontIcon="shopping_cart"></mat-icon>
      <span class="icon-text">Cart</span>
    </li>
    <li>
      <mat-icon fontIcon="search"></mat-icon>
      <span class="icon-text">Search</span>
    </li>
  </ul>
</div>
