<div class="content">
  <div class="header-section"></div>
  <div class="banner-section"></div>
  <div class="content-section">
    <div class="content-header">Songs</div>
    <ul>
      <li
        *ngFor="let song of songs$ | async; let i = index"
        class="tile"
        (click)="selectSong(song.id)"
      >
        <img class="cover-image" [src]="song.imgUrl" alt="Item Image" />
        <div class="song-grid">
          <div class="song-name">{{ song.name }}</div>
          <div class="song-artist">{{ song.artist }}</div>
        </div>
        <button
          class="deleteButton"
          mat-icon-button
          color="warn"
          (click)="deleteSong(song.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</div>
